<title>{{title}}</title>
<p class="text-3xl mt-5 font-semibold capitalize">Profile</p>
<p class="text-gray-600 mb-5">Manage your account information and settings</p>
<div class="flex flex-col items-center gap-5">

    <div class="w-full bg-white p-5 rounded-xl">
        <div class="upper-card p-5">
            <div class="wrapper flex">
                <div
                    class="letter-box w-25 h-25 text-4xl flex justify-center items-center text-white rounded-full bg-orange-600 capitalize mr-6 font-semibold">
                    {{vm.firstName.[0]}}
                </div>
                <div class="info-box">
                    <p class="full-name text-3xl capitalize font-semibold">{{vm.firstName}} {{vm.lastName}}</p>
                    <p class="username text-slate-500 font-semibold">@{{vm.username}}</p>
                    <div class="status block w-fit mt-2">
                        {{#if vm.varified}}
                        <p
                            class="varified px-3 py-0.5 bg-green-200 rounded-2xl text-green-700 text-sm text-center font-semibold">
                            Verified
                        </p>
                        {{else}}
                        <p
                            class="unvarified px-3 py-0.5 bg-red-200 rounded-2xl text-red-700 text-sm text-center font-semibold">
                            Not Verified
                        </p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="devider w-full h-0.5 bg-slate-100"></div>
        <div class="lower-card p-5">
            <div class="wrapper flex justify-between">
                <div class="email-container">
                    <p class="email-heading uppercase text-gray-500 font-semibold">Email address</p>
                    <p class="email font-semibold">{{vm.email}}</p>
                </div>
                <div class="uid-container">
                    <p class="uid-heading uppercase text-gray-500 font-semibold">User id</p>
                    <p class="uid bg-gray-100 p-2">{{vm._id}}</p>
                </div>
            </div>
        </div>
    </div>



</div>